
<html>  
 <head>  
 <title>Grafica</title>  
 </head>  
 <body>  
   <h2>Grafica del oro</h2>  
 </body>  
 <script id="GblId985" type="text/javascript">
  function getEmbedMetaDataGblId985() {
      return {
          "apiKey": '4b93d65d-6597-3b18-8c64-004b39c0e5b9',
          "orgUid": '228f917a-23b6-3211-a99e-cef65d08d9ca',
          "dashUid": '095e7faa-4661-36e5-820c-f7856e746ccb',
          "widgetUid": '85528122-526b-3ef5-a79a-c7486c15ec98',
          "cType": 'http',
          "embedHeight": 300,
          "embedWidth": 450,
          "embedBorder": true
      };
  }
</script>
<div id="embedWidgetDivGblId985"></div>
<script type="text/javascript" src="https://grovestreams.com/js/embed.js"> </script>

 <a href = "/">Volver a la pantalla principal</a><br> 
 </html> 
