
<html>  
 <head>  
 <title>home</title>  
 </head>  
 <body>   
 <h3>Elige lo que quieras</h3>  

 <form action="/" method="get">
    <button type="submit">Valor actual del oro</button>
</form>

<form action="/time" method="get">
    <button type="submit">Mostrar hora</button>
</form>

<p>La hora actual es: {{hora}}</p>

<form action="/mean" method="get">
    <button type="submit">Mostrar media</button>
</form>
<p>La media del oro es: {{media}}</p>
<br>
<script id="GblId985" type="text/javascript">
    function getEmbedMetaDataGblId985() {
        return {
            "apiKey": '4b93d65d-6597-3b18-8c64-004b39c0e5b9',
            "orgUid": '228f917a-23b6-3211-a99e-cef65d08d9ca',
            "dashUid": '095e7faa-4661-36e5-820c-f7856e746ccb',
            "widgetUid": '85528122-526b-3ef5-a79a-c7486c15ec98',
            "cType": 'http',
            "embedHeight": 300,
            "embedWidth": 450,
            "embedBorder": true
        };
    }
</script>
<div id="embedWidgetDivGblId985"></div>
<script type="text/javascript" src="https://grovestreams.com/js/embed.js"> </script>
 <a href = "/login">Registrarse</a><br> 
 <a href = "/profile">Ver perfil</a><br>
 <a href = "/logout">Cerrar sesión</a><br>
 </body>
 </html>