
<html>  
 <head>  
 <title>home</title>  
 </head>  
 <body>
 <h2>¡Bienvenido por primera vez!</h2>  
 <h3>El valor del oro a la hora {{time}} es: {{gold_val}}</h3>
<form action="/goldFirst" method="get">
    <button type="submit">Valor actual del oro</button>
</form>
<form action="./" method="post">
    <input type="text" name="username" placeholder="Introduce tu nombre">
    <button type="submit">Enviar</button>
</form>
 <a href = "/register">Registrarse</a><br> 
 <a href = "/login">Iniciar sesion</a><br> 
 <a href = "/profile">Ver perfil</a><br>  
 <a href = "/logout">Cerrar sesión</a><br>  
 </body>  
 </html> 
