
<html>  
 <head>  
  <title>REGISTRO</title>  
 </head>  
 <body>  
    <form method = "POST" action = "./access">  
        <table>  
            <tr><td>Correo electrónico</td><td><input type = 'email' name = 'email'></td></tr>
            <tr><td>Contraseña</td><td><input type = 'password' name = 'pass'></td></tr>  
            <tr><td><input type = "submit" value = "Aceptar"></td></tr>  
        </table>   
    </form>  
 </body>  
 <a href = "/">Volver a la pantalla principal</a><br> 
 </html> 
